# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# VSCode settings (optional)
.vscode/

# Logs and databases
*.log

# IDE/project files
.idea/
